.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 10px;
  border: 1px solid blue;
  border-radius: 10px;
}

.task-input {
  flex: 1;
  margin-right: 10px; 
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.done {
  text-decoration: line-through;
}