.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.done label {
  text-decoration: line-through;
}